/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  /* color : red ; */
  text-transform: uppercase;
  font-weight: bold;
}

table{
  width: 50%;
  border-collapse: collapse;
  border : 1px solid #ddd
}

th , td{
  padding: 8px;
  text-align: left;
  border-bottom:1px solid #ddd ;
}

th{
  background-color: #4ee64e;
}

.button{
  padding: 10px 20px  ;
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 03s ease;

}
.button-hovered{
  background-color: blue;
}


/* CSS SHOP  */

body{
  margin: 0 ;
  padding: 0 ;
}

header{
  background-color: #333 ;
  color: #ffffff;
  text-align: left;
  padding: 1rem;
}

footer{
  background-color: #333 ;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
}

.container{
  padding: 1rem;
  /* background-color:darkred; */

}

article{
  padding:  1rem;
}

.card{
  padding : 1rem;
  background-color: lightgray  ;
  border-radius: 5px;
  margin-bottom: 7px;

}

.text-center{
  text-align: center;
}

/* fil d'ariane ; breadcrumb */

.breadcrumb{
  display: inline-block;
  padding: 0.5rem;
  background-color: #f2f2f2f2;
  border-radius: 4px;
  font-size: 0.9em

}

